#Ball-brothers {
    Width:375px;
    height:250px;
}
#lonzo{
    width:300px;
    height:200px;
}
#lamelo{
    width:320px;
    height:215px;
}
p {
    font-family: 'Oswald', sans-serif;
}
p {
    font-family: 'Oswald', sans-serif;
}
p {
    font-family: 'Oswald', sans-serif;
}
p {
    font-family: 'Oswald', sans-serif;
}
#liangelo {
    width:320px;
    height:215px;
}
#lonzob {
    background-color: red;
}
#lonzoba {
    background-color:yellow;
    color: blue;
}
#lonzobal {
    background-color: blue;
    color: white;
}
#UCLA{
    width:200px;
    height:148px;
}
#lamelob{
    background-color: green;
    color: silver;
}
#lameloba{
    background-color: silver;
    color: green;
}
#liangelob{
    background-color: silver;
    color: green;
}
#liangeloba{
    background-color: green;
    color: silver;
}
#lamel{
    color: green;
}
#lonz{
    color: blue;
}
#Ball{
    color: blue;
}
#title{
    color: green;
}